<script>
    PreventivePlans.init();
</script>

<div class="row" id="pagePreventivePlans" style="margin: 8px">

    <div id="headerPartialView">
        <div class="row"><H1>Gestión de Empresas</H1></div><br />
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb bc-2">
                    <li class="active">
                        <a id="br-companies" onclick="PreventivePlans.goToPreventivePlans()" style="cursor: pointer;">
                            <i class="fa fa-cogs"></i>
                            <strong>Gestión Preventiva</strong>
                        </a>
                    </li>
                </ol>
            </div>
        </div>
    </div>

    <div id="confirm"></div>

    <div id="contentPartialView">
        <div class="row">
            <div class="col-sm-12">
                <div id="gridPreventivePlans" style="height: 77vh;"></div>
            </div>
        </div>
    </div>

</div>
