<script>
    ExcelMails.init(@ViewBag.MailingId);
</script>

<div id="spreadSheetDataMails" style="height: 53vh; width: 100%;"></div>

<br />

<div style="text-align: right; margin-left: 15px;">
    <input type="button" id="btnSaveDataMails" value="Guardar" class="btn btn-prevea" onclick="ExcelMails.goToSaveDataMails();" />
</div>

