@model Company

<script>
    _ContactPersonsCompany.init("@Model.Id");
</script>

<div class="row" id="pageContactPersonsCompany" style="margin: 8px">
    
    <div id="confirm"></div>

    <div class="row">
        <div class="col-sm-12" style="width: 98%">
            <div id="_gridContactPersonsCompany"></div>
        </div>
    </div>

</div>

