@model Company

<script>
    _EmployeesCompany.init("@Model.Id");
</script>

<div class="row" id="pageEmployeesCompany" style="margin: 8px">

    <div id="confirm"></div>

    <div class="row">
        <div class="col-sm-12" style="width: 98%">
            <div id="_gridEmployeesCompany"></div>
        </div>
    </div>

</div>

