<script>
    HistoricMedicalExamination.init(@ViewBag.ContactPersonId, @ViewBag.CompanyId);
</script>

<style>
    html .k-grid tr:hover {
        background: transparent;
    }

    html .k-grid tr.k-alt:hover {
        background: #f1f1f1;
    }

    td.k-edit-cell {
        text-align: center;
    }

    #circleError {
        width: 20px;
        height: 20px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        border-radius: 25px;
        background: #CC2424;
    }

    #circleWarning {
        width: 20px;
        height: 20px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        border-radius: 25px;
        background: #F89406;
    }

    #circleSuccess {
        width: 20px;
        height: 20px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        border-radius: 25px;
        background: #00A651;
    }

    #circleDeleted {
        width: 20px;
        height: 20px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        border-radius: 25px;
        background: black;
    }
</style>

<div class="row" id="pageRequestMedicalExaminationHistoric" style="margin: 8px">

    <div id="headerPartialView">
        <div class="row"><H1>Reconocimientos Médicos</H1></div><br />
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb bc-2">
                    <li class="active">
                        <a id="br-companies" onclick="HistoricMedicalExamination.goToHistoric()" style="cursor: pointer;">
                            <strong>Histórico</strong>
                        </a>
                    </li>
                </ol>
            </div>
        </div>
    </div>

    <div id="confirm"></div>

    <div id="contentPartialView">
        <div class="row">
            <div class="col-sm-12">
                <div id="gridRequestHistoricMedicalExaminations" style="height: 77vh;"></div>
            </div>
        </div>
    </div>

</div>



