@model RiskEvaluationViewModel

<script>
    CorrectiveActions.init(@Model.Id);
</script>

<div class="row" id="pageCorrectiveActions" style="margin: 8px">

    <div class="row">
        <div class="col-sm-12" style="width: 100%">
            <div id="gridCorrectiveActions" style="height: 64vh;"></div>
        </div>
    </div>

</div>
