<script>
    DeltaCodes.init();
</script>

<div class="row" id="pageDeltaCodes" style="margin: 8px">

    <div id="headerPartialView">
        <div class="row"><H1>Técnicas</H1></div><br />
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb bc-2">
                    <li class="active">
                        <a id="br-tecniques|historic" onclick="DeltaCodes.goToDeltaCodes()" style="cursor: pointer;">
                            <i class="fa fa-play fa-rotate-270"></i>
                            <strong>Códigos Delta</strong>
                        </a>
                    </li>
                </ol>
            </div>
        </div>
    </div>

    <div id="confirm"></div>

    <div id="contentPartialView">
        <div class="row">
            <div class="col-sm-12">
                <div id="gridDeltaCodes" style="height: 77vh;"></div>
            </div>
        </div>
    </div>

</div>