<script>
    TemplatePreventivePlans.init();
</script>

<div class="row" id="pageTemplatePreventivePlans" style="margin: 8px">

    <div id="headerPartialView">
        <div class="row"><H1>Técnicas</H1></div><br />
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb bc-2">
                    <li class="active">
                        <a onclick="TemplatePreventivePlans.goToTemplatePreventivePlans()" style="cursor: pointer;">
                            <i class="fa fa-file-text-o"></i>
                            <strong>Plantillas de Planes Preventivos</strong>
                        </a>
                    </li>
                </ol>
            </div>
        </div>
    </div>

    <div id="confirm"></div>

    <div id="contentPartialView">
        <div class="row">
            <div class="col-sm-12">
                <div id="gridTemplatePreventivePlans" style="height: 77vh;"></div>
            </div>
        </div>
    </div>

</div>


