<style>
    div {
        color: black;
        font-size: 14px;
        font-family: Arial;
    }
</style>

<table style="width: 500px; margin-left: auto; margin-right: auto;">
    <tr>
        <td><div style="text-align: center; background: #1F497D; color: white; font-size: 24px; padding: 10px;">PLAN DE PREVENCIÓN DE RIESGOS</div></td>
    </tr>
    <tr>
        <td style="font-weight: bold; font-size: 16px; font-family: Arial; color: #1F497D;">
            <br />
            <br />
            INPROTEK, INSTALACIÓN DE PROTECCIONES
            COLECTIVAS Y ELEMENTOS DE SEGURIDAD, S.L.
            <br />
            C/ Castellón,19 Pol. Industrial Valdonaire
            28970 Humanes de Madrid (MADRID)
        </td>
    </tr>
    <tr>
        <td style="font-weight: bold; font-size: 12px; font-family: Arial; color: #1F497D; text-align: right;">
            <br />
            <br />
            <br />
            <br />
            PREVEA CONSULTORES Y PROYECTOS
            <br />
            Servicio de Prevención Ajeno
            <br />
            C/ Abad Juan Catalán, 38
            <br />
            28032  Madrid
            <br />
            Tel. 91 760 27 13
            <br />
            prevea@preveaspa.com
        </td>
    </tr>
</table>


<br />
<br />
<br />

<table style="width: 600px; margin-left: auto; margin-right: auto;">
    <TR>
        <TH rowspan="2">
        <TH colspan="2">Average
        <TH rowspan="2">Red<BR>eyes
    <TR><TH>height<TH>weight
    <TR><TH>Males<TD>1.9<TD>0.003<TD>40%
    <TR><TH>Females<TD>1.7<TD>0.002<TD>43%
</table>

<br />
<br />
<br />

<table style="width: 800px; margin-left: auto; margin-right: auto; border: 1px solid black; font-size: 12px; font-family: Arial;">
    <tr style="border: 1px solid black; padding: 6px; border: 1px solid black; ">
        <td colspan="3" style="padding: 6px; border: 1px solid black; ">
            <p style="font-weight: bold;">PREVEA</p>
            <p style="font-weight: bold;">CONSULTORES Y PROYECTOS, S.L.</p>
            <p>C/ Abad Juan Catalán. 38. 28032 Madrid</p><br />
            <p>SERVICIO DE REVENCIÓN AJENO</p>
        </td>
        <td colspan="3" style="padding: 6px; border: 1px solid black; border: 1px solid black; ">
            <p style="text-align: center; font-weight: bold;">DATOS IDENTIFICATIVOS</p>
            <p style="text-align: center; font-weight: bold;">EMPRESA: VILDER CONSTRUCCIONES Y REHABILITACIONES, S.L.</p>
        </td>
    </tr>
    <tr style="border: 1px solid black; padding: 6px;  font-size: 12px; font-family: Arial; padding: 6px;">
        <td colspan="2" style="padding: 6px; border: 1px solid black; ">
            <strong>ACTIVIDAD:</strong> Construcción
        </td>
        <td colspan="3" style="padding: 6px; border: 1px solid black; ">
            <strong>PUESTO:</strong> Oficial Montador de Pladur
        </td>
        <td colspan="1" style="padding: 6px; border: 1px solid black; ">
            Nº TRABAJADORES: 1
        </td>
    </tr>
    <tr style="border: 1px solid black; font-size: 12px; font-family: Arial; padding: 6px;">
        <td colspan="6" style="padding: 6px; border: 1px solid black; ">
            <p style="text-align: center; font-weight: bold;">EVALUACION DE RIESGOS Y PLANIFICACION PREVENTIVA</p>
        </td>
    </tr>
    <tr style="border: 1px solid black; padding: 6px; font-size: 12px; font-family: Arial; padding: 6px;">
        <td style="text-align: center; border: 1px solid black; padding: 6px;">
            IDENTIFICACIÓN del RIESGO
        </td>
        <td style="text-align: center; border: 1px solid black; padding: 6px;">
            CÓDIGO
        </td>
        <td style="text-align: center; border: 1px solid black; padding: 6px;">
            PROBABILIDAD
        </td>
        <td style="text-align: center; border: 1px solid black; padding: 6px;">
            SEVERIDAD
        </td>
        <td style="text-align: center; border: 1px solid black; padding: 6px;">
            COSTE
        </td>
        <td style="text-align: center; border: 1px solid black; padding: 6px;">
            MEDIDAS PREVENTIVAS
        </td>
    </tr>
    <tr style="border: 1px solid black; padding: 6px;  font-size: 12px; font-family: Arial">
        <td style="text-align: justify;">
            Caída de personas a distinto nivel desde plantas de edificios,  escaleras portátiles, plataformas de trabajo o lugares de trabajo deficientemente protegidos
        </td>
        <td style="text-align: center;">
            1
        </td>
        <td style="text-align: center;">
            Alta
        </td>
        <td style="text-align: center;">
            Leve
        </td>
        <td style="text-align: center;">
            S/COSTE
        </td>
        <td style="text-align: justify;">
            Mantener las áreas de trabajo libres de cascotes y recortes de material. Utilizar calzado de seguridad con puntera y suela antideslizantesobre suelos resbaladizos o mojados. Siempre que sea posible se utilizará iluminación natural, que se complementará con luz artificial cuando la primera no sea suficiente. Correcto almacenamiento de materiales.No acumular objetos, escombros o maquinaria en lugares de paso, evacuación o vías de circulación y escaleras.
        </td>
    </tr>
</table>

<br />
<br />
<br />

<h1 style='margin:2pt 0cm 2pt 36pt;line-height:120%;text-indent:-36pt;mso-list:l0 level1 lfo1;tab-stops:list 36.0pt;'>
    <a name='_Toc378780842'>
        <span style='color:#000000;'>
            <span lang='ES-TRAD' style='line-height:120%;font-size:12pt;text-decoration:none;mso-fareast-font-family:Tahoma;text-underline:none;'>
                <span style='mso-list:Ignore;'>
                    <span style='font-family:Tahoma;'>1</span>
                </span>
            </span><span lang='ES-TRAD' style='line-height:120%;font-size:12pt;'><span style='font-family:Tahoma;'>INTRODUCCI&Oacute;N</span></span>
        </span>
    </a>
</h1>
<h1 style='margin:6pt 0cm 3pt;text-indent:36pt;'>
    <a name='_Toc378780843'>
        <span lang='ES-TRAD'>
            <span style='color:#000000;font-family:Tahoma;font-size:medium;'>
                OBJETO
                Y DATOS DE LA EMPRESA
            </span>
        </span>
    </a>
</h1><p style='background:white;margin:3pt 0cm;'>
    <span style='font-family:Arial;'>
        <strong><span lang='ES-TRAD' style='color:black;mso-ansi-language:ES-TRAD;'>La prevenci&oacute;n </span></strong><span lang='ES-TRAD' style='color:black;mso-ansi-language:ES-TRAD;'>
            es el conjunto de actividades o
            medidas adoptadas o previstas en todas las fases de actividad de <strong>
                INPROTEK,
                S.L.
            </strong> . (LA EMPRESA) con el fin de evitar o disminuir los riesgos derivados
            del trabajo. Estas actividades deber&aacute;n iniciarse con anterioridad a que se
            produzca el riesgo y que genere da&ntilde;os para la seguridad y salud de los
            trabajadores. La <strong>prevenci&oacute;n </strong>va a trabajar y actuar sobre la posibilidad
            de que se pueda producir un riesgo que degenere en un accidente de trabajo; la <strong>
                protecci&oacute;n
            </strong>se refiere a las medidas tendentes a eliminar o reducir las consecuencias
            que a los trabajadores pueden ocasionar los riesgos detectados, La prevenci&oacute;n
            de riesgos laborales ha de considerarse al mismo nivel de importancia que el
            resto de actividades de LA EMPRESA, debiendo realizarse de forma conjunta y
            dependiente al resto de actividades.
        </span>
    </span>
</p><p style='background:white;margin:3pt 0cm;'>
    <span lang='ES-TRAD' style='color:black;mso-ansi-language:ES-TRAD;'>
        <span style='font-family:Arial;'>
            El objeto de este apartado es centrar la informaci&oacute;n
            b&aacute;sica de LA EMPRESA, realizar una introducci&oacute;n de los objetivos a alcanzar en
            materia preventiva y determinar el contenido del presente Manual de Gesti&oacute;n de
            la Prevenci&oacute;n.
        </span>
    </span>
</p><p style='background:white;margin:3pt 0cm;'>
    <span lang='ES-TRAD' style='color:black;mso-ansi-language:ES-TRAD;'>
        <span style='font-family:Arial;'>
            El presente manual nace con la intenci&oacute;n de ser un <strong>
                instrumento
                eficaz
            </strong>para que el <strong>empresario, </strong>los <strong>Trabajadores y </strong>los <strong>
                delegados
                de prevenci&oacute;n
            </strong>en su caso, gestionen y administren correctamente la
            documentaci&oacute;n que en materia de prevenci&oacute;n de riesgos laborales se genere.
        </span>
    </span>
</p><p style='background:white;margin:3pt 0cm;'>
    <span lang='ES-TRAD' style='color:black;mso-ansi-language:ES-TRAD;'>
        <span style='font-family:Arial;'>
            El objetivo &uacute;ltimo es evidente: Mejorar las
            condiciones laborales de los trabajadores, eliminando o reduciendo la
            siniestralidad laboral, mediante el uso de un elemento de gesti&oacute;n integrador,
            que recoja los distintos aspectos relacionados con la prevenci&oacute;n de riesgos
            laborales.
        </span>
    </span>
</p><p style='background:white;margin:3pt 0cm;'>
    <span lang='ES-TRAD' style='color:black;mso-ansi-language:ES-TRAD;'>
        <span style='font-family:Arial;'>
            Con el presente manual de gesti&oacute;n se pretende
            favorecer la <strong>integraci&oacute;n de la prevenci&oacute;n </strong>dentro del proceso productivo
            de LA EMPRESA, mediante:
        </span>
    </span>
</p><p style='background:white;margin:3pt 0cm;'>
    <span lang='ES-TRAD' style='color:black;mso-ansi-language:ES-TRAD;'>
        <span style='font-family:Arial;'>
            - El establecimiento de un <strong>Plan de Prevenci&oacute;n, </strong>el
            conocimiento de los <strong>principios generales </strong>en materia preventiva, el
            desarrollo de una <strong>pol&iacute;tica en materia preventiva </strong>de LA EMPRESA, con la
            implicaci&oacute;n de todo el personal en la consecuci&oacute;n del objetivo de un trabajo
            seguro, mediante la asignaci&oacute;n de tareas, procedimientos, recursos y una
            informaci&oacute;n constante y veraz.
        </span>
    </span>
</p><p style='background:white;margin:6pt 0cm;'><span lang='ES-TRAD' style='color:black;mso-ansi-language:ES-TRAD;'><span style='font-family:Arial;'>&nbsp;</span></span></p><p style='background:white;margin:0cm 0cm 0pt;'>
    <span lang='ES-TRAD' style='color:black;mso-ansi-language:ES-TRAD;'>
        <span style='font-family:Arial;'>
            Los datos que
            contiene el presente Manual de Gesti&oacute;n, constituyen los documentos b&aacute;sicos para
            la gesti&oacute;n de la acci&oacute;n preventiva, pudiendo ser ampliados en funci&oacute;n de las
            necesidades de LA EMPRESA.
        </span>
    </span>
</p>




