<script>
    WorkStations.init();
</script>

<div class="row" id="pageWorkStations" style="margin: 8px">

    <div id="headerPartialView">
        <div class="row"><H1>Técnicas</H1></div><br />
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb bc-2">
                    <li class="active">
                        <a id="br-tecniques|workStations" onclick="WorkStations.goToWorkStations()" style="cursor: pointer;">
                            <i class="glyphicon glyphicon-asterisk"></i>
                            <strong>Puestos de Trabajo</strong>
                        </a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    
    <div id="confirm"></div>

    <div id="contentPartialView">
        <div class="row">
            <div class="col-sm-12">
                <div id="gridSectors" style="height: 77vh;"></div>
            </div>
        </div>
    </div>

</div>

