@model Document

<style>
    .k-window-titlebar {
        height: 30px;
    }

    .k-window-content .k-content {
        position: static;
    }

    .k-block > .k-header, .k-window-titlebar {
        position: static;
    }
</style>

<script>
    AddDocument.init(@Model.Id);
</script>

<div id="addDocumentContainer">
    <br />

    <p @*style="color: #BBBBBB; font-size: x-small"*@>
        Selecciona documento: <strong>@Model.Name</strong>
    </p>

    <p style="">
        <input type="file" id="fileDocument" name="fileDocument" accept=".pdf">
    </p>
</div>

