<script>
    DoctorWorkSheet.init();
</script>

<style>
    html .k-grid tr:hover {
        background: transparent;
    }

    .templateChildren {
         border: 1px solid;
         border-radius: 10px;
         border-color: #BFBFBF;
     }

    #circleError {
        width: 20px;
        height: 20px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        border-radius: 25px;
        background: #CC2424;
    }

    #circleWarning {
        width: 20px;
        height: 20px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        border-radius: 25px;
        background: #F89406;
    }

    #circleSuccess {
        width: 20px;
        height: 20px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        border-radius: 25px;
        background: #00A651;
    }

</style>

<div class="row" id="pageDoctorWorkSheet" style="margin: 8px">

    <div id="headerPartialView">
        <div class="row"><H1>Reconocimientos Médicos</H1></div><br />
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb bc-2">
                    <li class="active">
                        <a onclick="DoctorWorkSheet.goToDoctorWorkSheet()" style="cursor: pointer;">
                            <strong>Agenda</strong>
                        </a>
                    </li>
                </ol>
            </div>
        </div>
    </div>

    <div id="confirm"></div>

    <div id="contentPartialView">
        <div class="row">
            <div class="col-sm-12">
                <div id="gridDoctorWorkSheet" style="height: 77vh;"></div>
            </div>
        </div>
    </div>

</div>





