<script>
    DoctorWorkSheet.init();
</script>

<style>
 
</style>

<div class="row" id="pageDoctorWorkSheet" style="margin: 8px">

    <div id="headerPartialView">
        <div class="row"><H1>Reconocimientos Médicos</H1></div><br />
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb bc-2">
                    <li class="active">
                        <a id="br-companies" onclick="DoctorWorkSheet.goToDoctorWorkSheet()" style="cursor: pointer;">
                            <strong>Agenda</strong>
                        </a>
                    </li>
                </ol>
            </div>
        </div>
    </div>

    <div id="confirm"></div>

    <div id="contentPartialView">
        <div class="row">
            <div class="col-sm-12">
                <div id="gridDoctorWorkSheet" style="height: 77vh;"></div>
            </div>
        </div>
    </div>

</div>





