@model RequestMedicalExaminationEmployee

<script>
    DocumentsMedicalExamination.init(@Model.Id);
</script>

<style>
 
</style>

<div class="row" id="pageDocumentsMedicalExamination" style="margin: 8px">

    <div id="confirm"></div>

    <div id="contentPartialView">
        <div class="row">
            <div class="col-sm-12">
                <div id="gridDocumentsMedicalExamination" style="height: 50vh;"></div>
            </div>
        </div>
    </div>

</div>
