<style>
    .k-window-titlebar {
        height: 30px;
    }

    .k-window-content .k-content {
        position: static;
    }

    .k-block > .k-header, .k-window-titlebar {
        position: static;
    }
</style>

<script>
    AddDocumentFirmed.init(@ViewBag.CompanyId, @ViewBag.ContractualDocumentId);
</script>

<div id="addDocumentFirmedContainer">
    <br />

    <p>
        Documento: <strong>@ViewBag.Enrollment</strong>
    </p>

    <p style="">
        <input type="file" id="fileDocumentFirmed" name="fileDocumentFirmed" accept=".pdf">
    </p>
</div>