@model Company

<script>
    ContractualsDocumentsCompany.init("@Model.Id");
</script>

<style>
    #circleFirmPending {
        width: 10px;
        height: 10px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        border-radius: 25px;
        background: #CC2424
    }
</style>

<div class="row" id="pageContractualsDocumentsCompany" style="margin: 8px">

    <div id="confirm"></div>

    <div class="row">
        <div class="col-sm-12" style="width: 100%">
            <div id="gridContractualsDocumentsCompany" style="height: 45vh;"></div>
        </div>
    </div>

</div>
