@model Company

<script>
    EconomicDataCompany.init(@Model.Id);
</script>

<div class="row" id="pageEconomicDataCompany" style="width: 95%">
    
    <div class="col-sm-12" style="text-align: right">
  
    </div>

    <div class="col-sm-12" style="text-align: center">
        <H2><strong>Servicio de Prevención Ajeno</strong>
        </H2>

        <br/>

        <div class="row">
            <div class="col-sm-offset-2 col-sm-2 control-label" style="text-align: left">Especialidades Técnicas</div>
        </div>

        <br/>

        <div class="row">
            <div class="col-sm-offset-2 col-sm-2 control-label" style="text-align: left">Vigilancia de la Salud</div>
        </div>
    </div>

    <br/>

    <div class="col-sm-12" style="text-align: center">
        <H2><strong>Gestoría</strong>
        </H2>
    </div>

    <br/>

    <div class="col-sm-12" style="text-align: center">
        <H2><strong>Formación</strong>
        </H2>

        <br/>

        <div class="row">
            <div class="col-sm-12" style="width: 100%">
                <div id="gridTrainingCourseTrainingService" style="height: 40vh;"></div>
            </div>
        </div>

    </div>

</div>
