@model Company

<script>
    EmployeesCompany.init("@Model.Id");
</script>

<div class="row" id="pageEmployeesCompany" style="margin: 8px">

    <div id="confirm"></div>

    <div class="row">
        <div class="col-sm-12" style="width: 100%">
            <div id="gridEmployeesCompany" style="height: 50vh;"></div>
        </div>
    </div>

</div>

