@model Company

<style>
    html .k-grid tr:hover {
        background: transparent;
    }

    html .k-grid tr.k-alt:hover {
        background: #f1f1f1;
    }
</style>

<script>
    SimulationsCompany.init("@Model.Id");
</script>

<div class="row" id="pageSimulationsCompany" style="margin: 8px">

    <div class="row">
        <div class="col-sm-12" style="width: 100%">
            <div id="gridSimulationsCompany" style="height: 45vh;"></div>
        </div>
    </div>

</div>
