@model Company

<script>
    SimulationsCompany.init("@Model.Id");
</script>

<div class="row" id="pageSimulationsCompany" style="margin: 8px">

    <div class="row">
        <div class="col-sm-12" style="width: 100%">
            <div id="gridSimulationsCompany" style="height: 45vh;"></div>
        </div>
    </div>

</div>
