<script>
    Incidences.init();
</script>

@*<style>
    .k-tooltip-validation {
        display: inline-block !important;
        margin: 0 0 0 0.5em !important;
    }

    .k-tooltip-validation .k-callout {
        display: none;
    }
</style>*@

<div class="row" id="pageIncidences" style="margin: 8px">

    <div id="headerPartialView">
        <div class="row"><H1>Control de Errores</H1></div><br />
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb bc-2">
                    <li class="active">
                        <a id="br-incidences" onclick="Incidences.goToIncidences()" style="cursor: pointer;">
                            <i class="fa fa-minus-circle"></i>
                            <strong>Incidencias</strong>
                        </a>
                    </li>
                </ol>
            </div>
        </div>
    </div>

    <div id="confirm"></div>

    <div id="contentPartialView">
        <div class="row">
            <div class="col-sm-12">
                <div id="gridIncidences" style="height: 77vh;"></div>
            </div>
        </div>
    </div>

</div>


