<style>
    .k-window-titlebar {
        height: 30px;
    }

    .k-window-content .k-content {
        position: static;
    }

    .k-block > .k-header, .k-window-titlebar {
        position: static;
    }
</style>

<script>
    ChangePassword.init();
</script>


<div id="changePassword">

    <div class="col-sm-12">

        <div class="row">
            <div class="form-group">
                <label class="col-sm-12 control-label">Contraseña anterior</label>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-sm-12">
                    <input type="password" id="textBoxOldPassword" class="form-control" style = "width:100%" placeholder="Contraseña anterior"/>                    
                </div>
            </div>
        </div>

        <br />

        <div class="row">
            <div class="form-group">
                <label class="col-sm-12 control-label">Nueva contraseña</label>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-sm-12">
                    <input type="password" id="textBoxNewPassword" class="form-control" style="width:100%" placeholder="Contraseña anterior" />                    
                </div>
            </div>
        </div>

        <br />

        <div class="row">
            <div class="form-group">
                <label class="col-sm-12 control-label">Repetir contraseña</label>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-sm-12">
                    <input type="password" id="textBoxRepeatPassword" class="form-control" style="width:100%" placeholder="Contraseña anterior" />                    
                </div>
            </div>
        </div>

        <br />
        <br />

        <div class="form-actions" style="text-align: right;">
            <input type="button" id="btnValidatePassword" value="Guardar" class="btn btn-prevea btn" />
        </div>

    </div>

</div>