@model UserViewModel

<script>
    EconomicTrackingProfile.init(@Model.Id);
</script>

<div id="contentPartialView" style="margin: 8px">
    <div class="row">
        <div class="col-sm-12">
            <div id="gridEconomicTracking" style="height: 45vh;"></div>
        </div>
    </div>
</div>

