@model User

<script>
    Profile.init(@Model.Id);
</script>

<div class="row" id="pageProfile" style="margin: 8px">

    <div id="headerPartialView">
        <div class="row"><H1>Perfil</H1></div><br />
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb bc-2">
                    <li class="active">
                        <a id="br-notifications" onclick="Profile.goToProfile()" style="cursor: pointer;">
                            <i class="fa fa-user"></i>
                            <strong>Perfil</strong>
                        </a>
                    </li>
                </ol>
            </div>
        </div>
    </div>

    <div id="contentPartialView">
        <div class="row">
            <div class="col-sm-12">
                
            </div>
        </div>
    </div>

</div>

