<ul class="main-menu" id="main-menu">
    <li class="root-level">
        <a id="myCompany" onclick="GeneralData.loadPage(this)" style="cursor: pointer;">
            <i class="fa fa-cloud"></i>
            <span class="title">Mi Empresa</span>
        </a>
    </li>
    <li class="has-sub">
        <a id="medicalHealth">
            <i class="fa fa-medkit"></i>
            <span class="title">Reconocimientos Médicos</span>
        </a>
        <ul>
            <li>
                <a id="medicalHealth|historic" onclick="GeneralData.loadPage(this)" style="cursor: pointer;">
                    <span class="title">Histórico</span>
                </a>
            </li>
        </ul>
    </li>
</ul>
