<ul class="main-menu" id="main-menu">
    <li class="has-sub">
        <a id="medicalHealth">
            <i class="fa fa-medkit"></i>
            <span class="title">Reconocimientos Médicos</span>
        </a>
        <ul>
            <li>
                <a id="medicalHealth|doctorWorkSheet" onclick="GeneralData.loadPage(this)" style="cursor: pointer;">
                    <span class="title">Agenda</span>
                </a>
            </li>
        </ul>
    </li>
</ul>
