<ul class="main-menu" id="main-menu">
    <li class="has-sub">
        <a id="myData" onclick="GeneralData.loadPage(this)" style="cursor: pointer;">
            <i class="fa fa-cloud"></i>
            <span class="title">Mis Datos</span>
        </a>
        <ul>
            <li>
                <a id="myData|notifications" onclick="GeneralData.loadPage(this)" style="cursor: pointer;">
                    <i class="icon-attention"></i>
                    <span class="title">Notificaciones</span>
                </a>
            </li>
            <li>
                <a id="myData|documents" onclick="GeneralData.loadPage(this)" style="cursor: pointer;">
                    <i class="icon-book"></i>
                    <span class="title">Documentos</span>
                </a>
            </li>
        </ul>
    </li>
</ul>


