<ul class="main-menu" id="main-menu">
    <li class="root-level">
        <a id="users" style="cursor: pointer;">
            <i class="fa fa-cloud"></i>
            <span class="title">Usuarios</span>
        </a>
        <ul>
            <li>
                <a id="users|myUsers" onclick="GeneralData.loadPage(this)" style="cursor: pointer;">
                    <i class="fa fa-users"></i>
                    <span class="title">Mis Usuarios</span>
                </a>
            </li>
            <li>
                <a id="users|contactAs" onclick="GeneralData.loadPage(this)" style="cursor: pointer;">
                    <i class="fa fa-exchange"></i>
                    <span class="title">Contactar como</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="has-sub">
        <a id="library">
            <i class="icon-box"></i>
            <span class="title">Biblioteca</span>
        </a>
        <ul>
            <li>
                <a id="library|documents" onclick="GeneralData.loadPage(this)" style="cursor: pointer;">
                    <i class="icon-book"></i>
                    <span class="title">Documentos</span>
                </a>
            </li>
            <li>
                <a id="library|historic" onclick="GeneralData.loadPage(this)" style="cursor: pointer;">
                    <i class="icon-hourglass"></i>
                    <span class="title">Histórico de Descargas</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="has-sub">
        <a id="company">
            <i class="glyphicon glyphicon-th-list"></i>
            <span class="title">Herramienta Comercial</span>
        </a>
        <ul>
            <li>
                <a id="commercialTool|simulations" onclick="GeneralData.loadPage(this)" style="cursor: pointer;">
                    <i class="fa fa-magic"></i>
                    <span class="title">Simulaciones</span>
                </a>
            </li>
            <li>
                <a id="commercialTool|companies" onclick="GeneralData.loadPage(this)" style="cursor: pointer;">
                    <i class="icon-folder"></i>
                    <span class="title">Gestión de Empresas</span>
                </a>
            </li>
        </ul>
    </li>
    @*<li class="has-sub">
        <a id="courses">
            <i class="fa fa-superscript"></i>
            <span class="title">Cursos</span>
        </a>
        <ul>
            <li>
                <a id="courses|management" onclick="GeneralData.loadPage(this)" style="cursor: pointer;">
                    <i class="fa fa-folder-o"></i>
                    <span class="title">Gestión de Cursos</span>
                </a>
            </li>
        </ul>
    </li>*@
    <li class="has-sub">
        <a id="healthSurveillance">
            <i class="fa fa-medkit"></i>
            <span class="title">Vigilancia de la Salud</span>
        </a>
        <ul>
            <li>
                <a id="healthSurveillance|medicalHealth">
                    <i class="fa fa-building-o"></i>
                    <span class="title">Reconocimientos Médicos</span>
                </a>
                <ul>
                    <li>
                        <a id="healthSurveillance|medicalHealth|historic" onclick="GeneralData.loadPage(this)" style="cursor: pointer;">
                            <i class="fa fa-sort-amount-asc"></i>
                            <span class="title">Histórico</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a id="healthSurveillance|clinics" onclick="GeneralData.loadPage(this)" style="cursor: pointer;">
                    <i class="fa fa-h-square"></i>
                    <span class="title">Clínicas</span>
                </a>
            </li>
            <li>
                <a id="healthSurveillance|doctors" onclick="GeneralData.loadPage(this)" style="cursor: pointer;">
                    <i class="fa fa-user-md"></i>
                    <span class="title">Médicos</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="has-sub">
        <a id="tecniques">
            <i class="fa fa-gear"></i>
            <span class="title">Técnicas</span>
        </a>
        <ul>
            <li>
                <a id="tecniques|workStations" onclick="GeneralData.loadPage(this)" style="cursor: pointer;">
                    <i class="glyphicon glyphicon-asterisk"></i>
                    <span class="title">Puestos de Trabajo</span>
                </a>
            </li>
            <li>
                <a id="tecniques|deltaCodes" onclick="GeneralData.loadPage(this)" style="cursor: pointer;">
                    <i class="fa fa-play fa-rotate-270"></i>
                    <span class="title">Códigos Delta</span>
                </a>
            </li>
            @*<li>
                <a id="tecniques|historic" onclick="GeneralData.loadPage(this)" style="cursor: pointer;">
                    <i class="fa fa-sort-amount-asc"></i>
                    <span class="title">Histórico</span>
                </a>
            </li>*@
        </ul>
    </li>
</ul>

